/**
 * @name Clear Vision IDG
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@100;300;400;500;700&display=swap');
@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {
  --main-color: #C7810A;
  --hover-color: #B47D2C;
  --success-color: #35BC7E;
  --danger-color: #982929;
  --url-color: #8C15BA;
  --background-image: url('https://64.media.tumblr.com/582e1d197b0668f20a27e54dff82770f/437f6a84ba882320-d8/s1280x1920/a0add163f718b9c2c71cd046e15225171b478c42.png');
  --background-shading: 46%;
  --background-position: center;
  --background-size: contain;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 52%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgb(103,13,128,0.23);
  --user-popout-image: url('https://64.media.tumblr.com/14bf977ad92e5a38bef009f054c10564/tumblr_pvuhbqOJoX1ub8p4qo10_1280.png');
  --user-popout-position: top right;
  --user-popout-size: 150%;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 283%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 0px;
  --user-modal-image: url('https://64.media.tumblr.com/14bf977ad92e5a38bef009f054c10564/tumblr_pvuhbqOJoX1ub8p4qo10_1280.png');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 173%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://emojigraph.org/media/twitter/orange-heart_1f9e1.png');
  --home-position: center;
  --home-size: 30px;
  --channel-unread: #E78656;
  --channel-color: rgb(255,219,33,0.3);
  --muted-color: rgb(255,0,0,1);
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  --main-font: Inconsolata;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */


